---
layout: 2017_default
permalink: /agenda
title: Agenda
published: true
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
      <h1>{{ page.title }}</h1>
        <h2>PROGRAMAÇÃO DE MESAS REDONDAS</h2>
        <h3><a href="https://docs.google.com/document/d/1uiDxy5A32qdHpVpaLqLqRqahL1CiKXcz/edit?usp=sharing&ouid=114716265753465788417&rtpof=true&sd=true" >Programação completa</a></h3>
        <h2><a class=".h2" href="https://www.sympla.com.br/produtor/semoc">Inscrição</a><br></h2>

        <h2>PROGRAMAÇÃO DE MINICURSOS</h2>
        <h3><a href="https://docs.google.com/document/d/14rzAF_qlJCxnBbKTCudbTRvhRpng6_Yj2tRjqd1wnbE/edit?usp=sharing" >Programação completa</a></h3>
        <h2><a class=".h2" href="https://www.sympla.com.br/produtor/proextucsal">Inscrição</a><br></h2>

         <h2>PROGRAMAÇÃO DA JORNADA DE PESQUISA</h2>
        <h3><a href="https://docs.google.com/document/d/1-_gz-FImugwSvaTYtveVsz_BG0Z1ELO0/edit?usp=sharing&ouid=114716265753465788417&rtpof=true&sd=true" >Programação completa</a></h3>
        <h2><a class=".h2" href="https://www.sympla.com.br/produtor/semoc">Inscrição</a><br></h2>

        <h2>PROGRAMAÇÃO DA SESSÃO CIENTÍFICA</h2>
        <h3><a href="https://docs.google.com/document/d/147vod3cnZx_gt3xLX9T2h_PwK2b7zyvX/edit?usp=sharing&ouid=114716265753465788417&rtpof=true&sd=true" >Programação completa</a></h3>

        <h2>PROGRAMAÇÃO DA SEMOC JOVEM, Salão Interativo e Bate Papo</h2>
        <h3><a href="https://drive.google.com/drive/folders/1BANAk5x-WAvN4wOLHMeREVQyq0hv_Vr3?usp=sharing" >Programação completa</a></h3>

        
<!--         <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>DIA/HORA</center></th>
                    <th class="row-2 agenda-activity"><center>ATIVIDADE</center></th>  
                </tr>
            </thead>

            {% for agenda in site.data.twenty_17.agendas_1 %}
                <tr>
                    <td>{{ agenda.time }}</td>
                    <td>{{ agenda.info }}</td>
                </tr> 
            {% endfor %}
        </table> -->

        <!-- <h2>Day 2</h2>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>Time</center></th>
                    <th class="row-2 agenda-activity"><center>Activity</center></th>  
                </tr>

            </thead>

            {% for agenda in site.data.twenty_17.agendas_2 %}
                <tr>
                    <td>{{ agenda.time }}</td>
                    <td>{{ agenda.info }}</td>
                </tr> 
            {% endfor %}
        </table> -->
    </div>
